#food-photo {
    display: none;
}

#food-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.food-card {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid maroon;
    padding: 20px;
}
.food-card h2{
    margin-top: 0;
}
.food-card p{
    margin: 15px 0;
}
.food-card button{
    cursor: pointer;
    border: none;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}
.food-card button:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.remove-button {
    margin-top: 10px;
}


/*nav {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    gap: 20px;*/
/*    margin-top: 10px;*/
/*}*/
/*nav a{*/
/*    text-decoration: none;*/
/*    padding: 10px 12px;*/
/*}*/
/*nav a:hover{*/
/*    text-decoration: underline;*/
/*}*/

/*
   General
    */

* {
    box-sizing: border-box;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}


body {
    font-family: "Fira Sans", SansSerif;  /* Choose font */
    background-color: #F8FBF6;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

body a{
    color: black;
}

header img {
    width: 150px;
    height: 150px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
header h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 3rem;


}
nav {
    display: flex;
    gap: 30px;
}

nav a{
    background-color: lightgreen;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.hero p{
    font-size: 2rem;
    text-align: center;
}
.hero-buttons {
    display: flex;
    gap: 30px;

}
.hero-buttons a{
    background-color: lightgreen;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    border-radius: 15px;
}

                                /* Scan Food */
.scan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.scan-instruction {
    font-size: 2rem;
    text-align: center;
}

.primary-button {
    font-size: 2rem;
    padding: 30px;
    background-color: lightgreen;
    border-radius: 20px;
}
.scan-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upload-area {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.scan-section img{
    max-width: 50%;
}